/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.main-container {
    width: 1440px;
    height: 1828.52px;
    max-width: 1440px;
    box-sizing: border-box;
    gap: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo-image {
    width: 121.09px;
    height: hug;
    padding: 30px 0px 30px 50px;
    gap: 10px;
}

.logo {
    width: 61.09;
    height: 19px;
}

.menu {
    width: 328.6px;
    height: 35px;
    left: 1111.09px;
    gap: 68px;
    display: flex;
    justify-content: center;
}

.flex-container {   
    width: 244px;
    height: 35px;
    gap: 68px;
    list-style-type: none;
    display: flex;
}

a.Hébergement {
    width: 113px;
    height: 35px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a.Hébergement:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

a.Activités {
    width: 63px;
    height: 35px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a.Activités:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC
}

/****** Main ***********/
.main {
    height: 1719.52px;
    padding: 0 50px 0 50px;
    margin-top: 35px;
}

/****** Info group ***********/

.info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

.titre {
    height: 53px;
    display: inline-flex;
    flex-direction: column; 
}

h1 {
    height: 53px;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.ville-nature {
    width: 1340px;
    height: 19px;
    font-size: 16px;
}

/****** Search Bar ************/

.barre-recherche {
    width: 377px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}

.location {
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    color: black;
}

.search {
    width: 195px;
    border: none;
}

::placeholder {
    opacity: 1;
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.button-recherche {
    width: 132px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

/******Filtres************/
.filters {
    width: 758px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filters-title {
    width: 54px;
    height: 21px;
    font-size: 18px;
    display: flex;
    
    justify-content: center;
}

.fa-money-bill-wave {
    width: 22px;
    height: 22px;
    display: contents;
    align-content: center;
}

.filter {
    width: 173px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-color: #D9D9D9;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter:hover {
    background-color: #DEEBFF;
}

/****** Infobar************/
.infobar {
    width: 1340px;
    height: 24px;
    gap: 10px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius:20px;
    text-align: center;
}

.logements-disp {
    height: 19px;
    width: 1306px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}