/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1440px;
    max-width: 1440px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

/****** Header ***********/
header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 121px;
    padding: 30px 0px 30px 50px;
}


nav {
    gap: 68px;
    display: flex;
    justify-content: center;
    
}

nav a {
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 2px solid white;
}

nav a:hover {
    border-top: 2px solid #0065FC;
}



/****** Main ***********/
.main {
   
    padding: 0 50px 0 50px;
    margin-top: 35px;
}

/****** Info group ***********/

.info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

.info_title {
    display: inline-flex;
    flex-direction: column; 
}

.info_title h1 {
    font-size: 22px;
    margin: 0;
    padding: 0 0 10px 0;
}

.info_title span {
    font-size: 16px;
}

/****** Search Bar ************/

.barre-recherche {
    width: 377px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}

.location {
    border-radius: 15px 0 0 15px;
    width: 50px;
    text-align: center;
    padding-top: 13px;
}

.fa-location-dot {
    color: black;
}

.search {
    width: 195px;
    border: none;
}

::placeholder {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.button-recherche {
    width: 132px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

/******Filtres************/
.filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filters_title {
    font-size: 18px;
    font-weight: bold;
}


.filter {
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-color: #D9D9D9;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.filter span
{
    padding-right: 10px;
}

.filter i
{
    padding-left: 10px;
}

.filter:hover {
    background-color: #DEEBFF;
}

/****** Infobar************/
.infobar {
    height: 24px;
    gap: 10px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius:20px;
    text-align: center;
}

.logements-disp {
    height: 19px;
    width: 100%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content:space-between;
}

.hebergements-cards .card {
    width: 235px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hebergements-cards .card img {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card .card-content {
    padding-left: 15px;
}

.hebergements-cards .card .card-rating {
    padding-left: 15px;
}

.hebergements-more {
    margin-top: 30px;
}

a.afficher {
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités************/
.activites {
    padding: 30px;
}

.activites-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activites-cards .card {
    width: 285px;
    height: 439px;
    display: flex;
    flex-direction: column;
}

.activites-cards img {
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card h3 {
    margin-left: 20px;
}

/****** Footer ************/
footer {
    max-width: 1440px;
    background-color: #f2f2f2;
    margin: 30px 30px 30px 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer div {
    margin-left: -250px;

}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    header img {
        width: 60px;
        height: 20px;
    }

    .filters {
        width: 668px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        border:1px solid #0065FC;
    }

    .filters_title {
        margin-right: 600px;
        font-size: 18px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 235px;
    }
    
    .activites-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .activites-cards .card {
        width: 175px;
        height: 270px;
    }

    .activites-cards img {
        height: 200px; ;
    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer div {
        margin-left: -100px;
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}